#query_book .form_wrapper {
	padding: 0 300px;
	margin: 0 auto;
	margin-top: 100px;
	width: 700px;
}

#query_book .result_wrapper {
	width: 100%;
	padding-top: 40px;
}

#query_book .book {
	width: 700px;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 20px;
}

#query_book .book > div {
	margin: 12px 30px;
}

#query_book .book button {
	margin-top: 10px;
	margin-left: 20px;
}

#return_book .content_wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}

.view .content_wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}

#my_info .content_wrapper {
	font-size: 20px;
}

#my_info .content_wrapper h1 {
	font-size: 27px;
}

#my_info .content_wrapper .info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: start;
	margin-top: 50px;
	padding-left: 200px;
	padding-bottom: 50px;
	width: 400px;
	border: 2px solid #ccc;
	transition: all 0.5s;
}

#my_info .content_wrapper .info:hover {
	box-shadow: 0px 3px 17px -9px rgba(0, 0, 0, 0.4);
}

#my_info .content_wrapper ul li {
	margin-top: 40px;
}

#my_info .content_wrapper .tip {
	color: teal;
	font-size: 16px;
	margin-top: 30px;
	margin-left: 50px;
}

#manage_info .content_wrapper .manage {
	width: 600px;
	height: 100px;
}

#manage_info .content_wrapper .manage .link_btn {
	margin-top: 30px;
}

#manage_info .content_wrapper .info_box {
	width: 600px;
	background-color: #fff;
}

#ranking .content_wrapper {
	margin-top: 90px;
	width: 700px;
}

#ranking table {
	text-align: center;
}
